UI/cred.json
UI/Screenshot
Test_images/
UI/target_image
*.html
*.php
Demo.ipynb
___pycache__/
UI/__pycache__/
Utils/Dataset
Utils/Screenshot
Utils/__pycache__/
Utils/*.xlsx
Demo_facebook.ipynb
Demo_linkedin.ipynb
